<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
<body>
	<%- include('./partials/nav.ejs') %>
	<div class="details content">
		<h2><%= blog.title %></h2>
		<p><%= blog.body %></p>
		<img class="delete" data-blog_id="<%=blog.id %>" src="trashicon.svg" alt="trashicon">
	</div>
	<%- include('./partials/footer.ejs')  %>

	<script>
		const del = document.querySelector('img.delete');

		console.log(del);
		del.addEventListener('click', (e) => {
			const endpoint = `/blogs/${del.dataset.blog_id}`;

			console.log("this is the endpoint: " + endpoint)
			fetch(endpoint, {
				method: 'DELETE'
			})
			.then((response) => response.json()) // must be returned to send --> data 
			.then((data) => {
				window.location.href = data.redirect;
			})
			.catch(err => {console.log("errorr: " + err.message)});
		});

	</script>

</body>
</html>