<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
	<%- include('./partials/nav.ejs')%>
	<div class="blog content">
		<h2>All Blogs</h2>
		<% if(blogs.lenght != 0) { %>
			<% blogs.forEach(blog =>{ %>
				<div class="title-snippet">
					<a  href="/blogs/<%= blog.id %>" >
						<h3><%=blog.title%></h3>
						<p><%=blog.snippet%></p>
					</a>
				</div>				

			<% }) %>
		<% } %>
	</div>
	<%- include('./partials/footer.ejs') %>
</body>
</html>